<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/bootstrap.css", "~/Content/css/easyui.css", "~/Content/css/icon.css", "~/Content/css/layout.css")
    @RenderSection("css", false)
</head>
<body>
    	<header id="header">

		<p>用户管理后台</p>
		<div class="h-right">
			<!-- <span id="labCompanyName">东莞惠森木业有限公司</span>
		-->
		<span>当前用户:</span>
		<a href="" class="sysuser">系统管理员</a>
		<a href="">使用帮助</a>
		<a>初始化数据库</a>
		<a>备份</a>
		<a>生成上月统计</a>

	</div>

</header>
<aside id="aside">
	<div class="aside-top">
		<button class="repassword" title="修改密码">
			<a>修改密码</a>
		</button>
		<button class="exist">
			 <a href="@Href("~/")user/logout">退出系统</a>
		
	</button>
</div>

<div class="sideLeft" id="sideLeft">

	<div class="easyui-tabs" id="secfirst" data-options="tabPosition:'left',
	tabHeight:88,headerWidth:40,border:false,
	" style="width:190px;height: 560px;">
		@foreach(var menuParent in ViewBag.menus) {
		<div title="@menuParent["MenuName"]" >
			<ul class="ffirst">
				@foreach(var menuChild in @menuParent["Children"]) {
				<li class="tab" data-href="">
					<a href="@menuChild["LinkUrl"]">@menuChild["MenuName"]</a>
				</li>
				}
			</ul>
		</div>
		}
	</div>

</aside>
<main id="main">
 @RenderBody()
</main>
    @Scripts.Render("~/Scripts/jquery.js", "~/Scripts/jquery.easyui.min.js",
        "~/Scripts/common.js", "~/Scripts/bootstrap.js", "~/Scripts/easyui-lang-zh_CN.js")
    @RenderSection("js", false)
</body>
</html>
