<!DOCTYPE html>
<html lang="en">
<head>
  <meta charsHeyet="UTF-8">
  <title>微小区</title>
  <link rel="stylesheet" type="text/css" href="@Href("~/")Content/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="@Href("~/")Content/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="@Href("~/")Content/css/login.css">
   <link rel="stylesheet" type="text/css" href="@Href("~/")Content/css/common2.css">
 <script src="@Href("~/")Scripts/jquery.js"></script>

</head>
<body class="login-content">
<div class="login-header">
<div class="container">
<a href="http://www.weixiaoqu.com" class="logo"></a>
<nav>
<ul>
<li><a href="https://www.weixiaoqu.com">
								首页
	</a></li>
<li><a href="https://www.weixiaoqu.com/price">
		企业版
	</a></li>
<li><a href="https://fuwu.weixiaoqu.com/" target="_blank">
		服务商
	</a></li>
<li><a href="https://e.weixiaoqu.com/" target="_blank">
		商家平台
	</a></li>
<li><a href="https://www.weixiaoqu.com/faqs">
		帮助
	</a></li>
<li><a href="https://www.weixiaoqu.com/blog">
		博客
	</a></li>
<li><a href="https://www.weixiaoqu.com/about">
								我们
		</a></li></ul></nav></div></div>

		<!-- Login -->
<div class="lc-block animated flipInX" id="l-login">
<form class="login" method="post">
<!-- <div class="input-group msg-error m-b-10">
	<div class=""><i class="fa fa-minus-circle"></i><span>请输入账户名和密码</span></div>
</div> -->
<div class="input-group m-b-20">
	<label class="input-group-addon"><i class="fa fa-user"></i></label>
	<div class="fg-line">
	<input type="text" name="uname" id="uname" class="form-control" placeholder="手机号码/邮箱">
	</div>
</div>
<div class="input-group m-b-10">
	<label class="input-group-addon"><i class="fa fa-lock"></i></label>
	<div class="fg-line">
	<input type="password" name="upwd" id="upwd" class="form-control" placeholder=" 密码">
	</div>
</div>
<div class="login-nav">
	<a href="/index/forgetpwd.html" class="">
		忘记密码？
	</a><a href="/index/register.html" class="">
		我要注册
	</a></div>
	<div>
	<button type="submit" class="btn btn-block btn-lg btn-primary" id="btn">
		登录
	</button>
	</div>

    	<div class="three-login m-t-20"><h4></h4><ul><li><a href="/login/qq_login.html" class="qq"><i class="fa fa-qq"></i></a></li><li><a href="/login/wx_login.html" class="weixin"><i class="fa fa-weixin"></i></a></li></ul></div></form></div>

<div class="v-copy">
	© 2013-2016 weixiaoqu.com 成都云联峰创科技有限公司旗下产品 <a href="http://www.miibeian.gov.cn/" target="_blank">蜀ICP备14004520号-1</a></div>

 <script src="@Href("~/")Scripts/common.js"></script>
 <script src="@Href("~/")Scripts/login.js"></script>

</body>
</html>